pandas>=2.2,<3
numpy
requests
beautifulsoup4
lxml
sqlalchemy>=2.0
psycopg2-binary
pyarrow
matplotlib
seaborn
ipykernel
python-dotenv
dbt-postgres
pyspark
streamlit
sentence-transformers
boto3
confluent-kafka
